body{
    background-color: rgb(222, 196, 173);
}

p, th, td, ol, ul, li{
    color: rgb(71, 40, 12);
    font-size:15pt;
}

h1, h2, h3{
    color: rgb(51, 31, 12);
}

a{
    color:rgb(255, 237, 219);
}

.other-page{
    background-color: rgb(69, 50, 30);
}

img{
    width: 20%;
    height: 5%;
    border:5px solid;
    border-color:rgb(51, 31, 12)
}

.bibliography{
    background-color: rgb(74, 38, 0);
}

#cacao-tree{
    height:300px;
    width:200px;
}

h1{
    font-size: 40pt;
    line-height:40pt;
}

#starting-words{
    font-size:17pt;
}

.source{
    font-size:10pt;
}

table, th, td{
    border:1px solid;
}

h2{
    font-size: 20pt;
}

h3{
    font-size:17pt;
}